* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100vh;
}

header {
  background-color: #004;
  color: #fff;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
}

main {
  overflow: auto;
}

#add-item {
  padding: 5px;
}

#add-item input, 
#add-item button {
  height: 1.5em;
}

#add-item input {
  margin-right: 5px;
}

#display-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display-list li {
  text-align: left;
  width: auto;
}

#selected {  
  font-size: 2em;
}

footer {  
  padding: 5px;  
}

button {
  background-color: #004;
  color: #fff;
  border: solid #000 1px;
  border-radius: 3px;
}

@media screen and (max-width: 500px) {

  .App {
    height: 100vh;
  }

  header {
    flex: 0 0 auto;
  }

  #add-item {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
  }

  footer {
    flex: 0 0 auto;
  }
}
